@using DeaneryASP.Models
@model EditRealisationViewModel
@{
    ViewBag.Title = "Edytuj definicję realizacji";
    ViewBag.SubjectID = (Model.SubjectID.HasValue ? Model.SubjectID.Value : 0);
    ViewBag.UserID = (Model.UserID.HasValue ? Model.UserID.Value : 0);
}

@if (User.Identity.IsAuthenticated)
{

    <form action="/Admin/EditRealisation" method="post" role="form">
        @Html.HiddenFor(m => m.SemestrID)
        @Html.HiddenFor(m => m.RealisationID)
        @Html.HiddenFor(m => m.TimeStamp)
        <div class="panel panel-default" style="margin: 20px 0px 0px 0px;">
            <div class="panel-heading">
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <section>
                    <div class="bs-docs-grid">
                        <div class="row-fluid show-grid">
                            <div class="form-group" style="padding: 5px 5px 5px 5px;">
                                @Html.LabelFor(m => m.SubjectID, new { @class = "col-md-2 control-label text-right" })
                                <div class="col-md-10">
                                    <select class="selectpicker show-menu-arrow" data-live-search="true" id="sub-sel" name="SubjectID">
                                        <option selected disabled value=0>Wybierz przedmiot</option>
                                        @foreach (var subject in Model.Subjects)
                                        {
                                            <option value=@subject.SubjectID>@subject.Name</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.SubjectID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div><!-- /row -->
                        <hr />
                        <div class="row-fluid show-grid">
                            <div class="form-group" style="padding: 5px 5px 5px 5px;">
                                @Html.LabelFor(m => m.Ver, new { @class = "col-md-2 control-label text-right" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Ver, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Ver, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div><!-- /row -->
                        <hr />
                        <div class="row-fluid show-grid">
                            <div class="form-group" style="padding: 5px 5px 5px 5px;">
                                @Html.LabelFor(m => m.UserID, new { @class = "col-md-2 control-label text-right" })
                                <div class="col-md-10">

                                    <select class="selectpicker show-menu-arrow" data-live-search="true" id="us-sel" name="UserID">
                                        <option selected disabled value="0">Wybierz prowadzącego</option>
                                        @foreach (var prof in Model.Professors)
                                        {
                                            <option value=@prof.UserID>@prof.LastName @prof.FirstName</option>
                                        }
                                    </select>
                                    
                                        <button class="btn btn-default" type="button" id="del-usr" onclick="clearFunc()">Usuń prowadzącego</button>
                                    
                                    @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div><!-- /row -->
                    </div>
                </section>
                <div class="container">
                    <button type="submit" class="btn btn-danger pull-right" title="Anuluj" name="Action" value="cancel" style="margin: 2px 2px 2px 2px;">Anuluj</button>
                    <button type="submit" class="btn btn-success pull-right" title="Zapisz" name="Action" value="save" style="margin: 2px 2px 2px 2px;">Zapisz</button>
                </div>

            </div>
        </div>
        <div class="container">
            <a class="btn btn-info pull-right" style="margin: 5px 0px 0px 0px;" href="/Admin">Powrót</a>
        </div>
    </form>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        console.log("ready!");
        $('.selectpicker').selectpicker();
        if (@ViewBag.SubjectID > 0)
        {
            $("#sub-sel").selectpicker('val', @ViewBag.SubjectID);
        }
        
        if (@ViewBag.UserID > 0)
        {
            $("#us-sel").selectpicker('val', @ViewBag.UserID);
        }  

    });
    function clearFunc()
    {
        console.log("clean!");
        $("#us-sel").selectpicker('val', '0');
    }
    
</script>
}